---
---

<!DOCTYPE html>
<html class="">
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.data.settings.title }}</title>
  
  <link rel="stylesheet" href="assets/css/all.css">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>
<body>

{% include header.html %}

{% include about.html %}

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia impedit cupiditate debitis, perspiciatis mollitia, repudiandae suscipit maiores dolorum? Ea velit, modi reprehenderit possimus quo eaque, deserunt inventore placeat quia atque porro consequuntur, nihil, ipsam dolore aspernatur fuga cumque veniam labore aut cum perspiciatis! Rem ad distinctio vitae est animi aperiam accusamus architecto tempora, sit voluptatibus? Itaque adipisci suscipit esse, iure!</p>

{% include footer.html %}


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="assets/js/functions.js"></script>
<!-- REMEMBER TO ADD ANALYTICS! -->
</body>
</html>
